* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    font-family:
        "Segoe UI",
        Arial,
        sans-serif;

    background: #f8f6f2;
    color: #292938;
}

a {
    text-decoration: none;
}

button,
input {
    font-family: inherit;
}
